[submodule "collector"]
	path = collector
	url = git@github.com:InverseAltruism/SwarmNexus-Collector.git
	branch = main
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:InverseAltruism/SwarmNexus-Dashboard.git
	branch = main
[submodule "agent"]
	path = agent
	url = git@github.com:InverseAltruism/SwarmNexus-Agent.git
	branch = main
[submodule "knowledge"]
	path = knowledge
	url = git@github.com:InverseAltruism/SwarmNexus-Knowledge.git
	branch = main
